.container-login100 { 
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-size: 100% 100%;
}

.wrap-login100 {
  width: 290px;
  background: rgba(0,0,0,0.75);
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 55px 33px 55px;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
}

.btn{
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	font-family: Poppins-Bold;
	font-size: 15px;

}